.ui-header{
    background-color: black !important;
}

.header-text{
    text-shadow: none !important;
    color: white !important;
    font-size: 16px !important;
    display: inline-block !important;
}

.header-button{
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    font-size: 12px !important;
    text-shadow: none !important;
    padding: .7em 0 !important;
}

#reg_one, #reg_two, #reg_three, #login, #crop_img{
    background: url(../image/theme/backgroud.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#step_one{
    background: url(../image/theme/createidea/step_1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#step_two{
    background: url(../image/theme/createidea/step_2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#step_three{
    background: url(../image/theme/createidea/step_3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#step_four{
    background: url(../image/theme/createidea/step_4.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui-input-text, input{
    background-color: transparent !important;
    border:none !important;
}

.user-head{
    width: 50%;
}

#main_page{
    background: url(../image/theme/homepage.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-circle {
    width: 25px !important;
    height: 25px !important;
    font-size: 10px !important;
    border-radius: 50% !important;
}

.img-container, #img-crop{
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
}