<div id="project-list">
	<nav nav-top data-left="<" data-center="{{name}}"
	     fn-left="go()"></nav>
	<div wrap-scroll="wrap-me" id="wrap-me">	
		<div>
			<div class="profile">
				<div class="img">
					<img ng-src={{me.avatar}} />
				</div>
				<div class="txt">
					<h3>
						{{me.username}}
						<span>{{me.name}}</span>
					</h3>
					<p class="dep">{{me.department}}</p>
					<p class="contact">
						<i class="fa fa-envelope"></i>{{me.email}}
						<i class="fa fa-mobile-phone"></i>{{me.mobile}}
					</p>
				</div>
			</div>
			<p class="coin" ng-click="go('/user/coin_histroy','slideLeft')">
				<span class="fa-stack">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
				</span>
				{{me.coin}}
				<i class="fa fa-chevron-right"></i>
			</p>			
			<ul class="tabs">
				<li ng-click="changeType(2)" ng-class="{active:type==2}">Idae-2</li>
				<li ng-click="changeType(1)" ng-class="{active:type==1}">Project-1</li>
			</ul>
			<div class="list-item" ng-repeat="item in list track by $index">
				<div class="item-h">
					<div class="avatar">
						<img ng-src="{{item.type}}"/>
					</div>
					<h4 ng-click="go('/idea/{{item.id}}','slideLeft')">{{item.title}}</h4>
					<p>
						<a class="author" ng-click="go('/user/{{item.authorLink}}','slideLeft')">{{item.author}}</a>
						<i ng-class="{true:'fa fa-heart', false:'fa fa-heart-o'}[item.isVoted]" ng-click="toggleVote($index)">
							<span class="list_likes">{{item.like}}</span>
						</i>
					</p>
				</div>
				<div class="img">
					<img ng-click="go('/idea/{{item.id}}','slideLeft')"  ng-src="{{item.src}}" />
					<p class="description">
						{{item.description}}
					</p>
				</div>
				<p class="date">
					{{item.date}}
					<span ng-switch="item.pjState">
						<span ng-switch-when="1">
							<a class="todo">Approve Project</a>
						</span>
						<span ng-switch-when="2">
							<a class="todo">Generate Project</a>
						</span>
						<span ng-switch-when="3">
							<a class="done">Project</a>
						</span>
					</span>
				</p>
			</div>
		</div>
	</div>
	<p class="list-bottom"></p>
</div>