<div id="idea-create-step2" class="pages">
	<nav nav-top data-left="<" data-right="Next" data-center="Create Idea"
	     fn-left="go()" fn-right="checkAndDo(createForm.$valid, go, '/idea/create_step3', 'slideLeft')"></nav>
	<form name="createForm">
		<div class="content">
			<p class="step-img"></p>
			<p class="step-title">Description
				<span class="error" ng-show="!createForm.desrciption.$valid">*</span>
			</p>
			<textarea name="desrciption" ng-model="idea.desrciption" required>
			</textarea>
			<p class="step-desrcip">fdsa</p>	
		</div>
	</form>	 
</div>