
<div id="idea-preview">
    <nav nav-top data-left="<" data-right="Submit"
         fn-left = "go()" fn-right=""></nav>
    <div class="top-content">
        <img class="icon" ng-src="img/head.png"/>
        <div class="text">
            <p class="title">{{idea.title}}</p>
            <p class="creator">Siqi Zhuo</p>
        </div>
    </div>
    <div class="idea-pics">
        <ul rn-carousel  rn-carousel-index="carouselIndex" class="image">
            <li  ng-repeat="image in idea.imgsSrc track by $index">
                <div ng-style="{'background-image': 'url(' + image + ')'}">
                    <div rn-carousel-indicators ng-if="idea.imgsSrc.length > 1" slides="idea.imgsSrc" rn-carousel-index="carouselIndex"></div>
                </div>
            </li>
        </ul>

    </div>
    <div class="idea-content">
        <div class="description">
            <label class="desclable">Description</label>
            <p class="desctext">{{idea.description}}</p>
        </div>
        <div class="bi">
            <label class="bilable">Business Impact</label>
            <p class="bitext">{{idea.impact}}</p>
        </div>
    </div>


</div>